<title>My application deployed automatically</title>
<h1>Cubes Density Calculator</h1>
Result is {{result}}
<form action="compute" method="post">
<br>First input is the array of masses.<br>
<textarea name="input1" rows="10" cols="30"></textarea>
<br>Other inputs are x-y-z lentgh.<br>
<textarea name="input2" rows="10" cols="30"></textarea>
<textarea name="input3" rows="10" cols="30"></textarea>
<textarea name="input4" rows="10" cols="30"></textarea>
<br>
<input type="submit">
</form>
